<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <title>队列查看</title>

    <link href="../../css/bootstrap.modified.css" rel="stylesheet" type="text/css"/>
    <!--<link rel="stylesheet" href="../../layui/css/layui.css"/>-->


    <script src="../../js/jquery-1.11.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/hanlinCommons.js"></script>
    <!--<script src="../../layui/layui.js"></script>-->
    <script src="../../js/deferredAjax.js"></script>
</head>
<body class="row">
    <!--<div class="col-lg-12" style="background: #ffff00">
        <>
    </div>-->
    <div class="col-lg-12">
        <div id="tableTool" class="hidden"><!-- hidden防止其在表格上方渲染，是bootstrap的工具类 -->
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文件名<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a>文件名</a></li>
                        <li><a>上传时间</a></li>
                        <li><a>Something else here</a></li>

                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" placeholder="文件名查找">
                <span class="input-group-btn">
                    <button id="search" lay-filter="search" class="btn btn-primary" type="button">查找</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <table id="queue" lay-filter="nra"></table>
    </div>



<script>
var currentUser = null;
var table;

$.when(request("c/getManager"), {}).done( function (data){
    currentUser = JSON.parse(data).result;

    layui.use(['table', 'form'], function (){


        table = layui.table;
        //defer.resolve(table);
        table.render({
            elem: "#queue",
            title: "NRA队列",
            loading: true,
            url: "/cManager/c/getQueueBetween",
            page: true,
            autoSort: false,
            cols: [[
                {field: 'queueNo', title: '-', width: 40, fixed: 'left'},
                {field: 'statusCode', title: '状态', width: 150, align: 'center',
                    templet: function (d){
                        switch (d.statusCode) {
                            case 0:
                                return "<p style='color: deepskyblue'>排队中</p>";
                            case 1:
                                return "<p style='color: #5eb95e'>审核通过</p>";
                            case 2:
                                return "<p style='color: red'>审核未通过</p>";
                        }
                    }
                },
                {field: 'fileName', title: '文件名', width:300},
                {field: 'qualityCustomer', title: '优质客户', width:100, align: 'center',
                    templet: function (d){
                        return d.qualityCustomer?"<span class='glyphicon glyphicon-ok' style='color: #5eb95e;'</span>":"-";
                    }
                },
                {field: 'uploadTime', title: '上传时间', width:160, align: 'center'},
                {field: 'userName', title: '上传者', width: 120, align: 'center',
                    templet: function (d){
                        return (d.userName == currentUser.userName)?"<p style='color: red'>"+d.userName+"</p>":"<p>"+d.userName+"</p>";
                    }
                },

                {field: 'priority', title: '插队', width: 80, align: 'center',
                    templet: function (d){

                        return d.priority?"<span class='glyphicon glyphicon-ok' style='color: #5eb95e'></span>":"-";
                    }
                },
                {field: 'note', title: '备注', width: 200},
                {field: 'id', title: 'ID', width:280},
            ]],
            toolbar: "#tableTool",
            defaultToolbar: ["filter", "exports", "print"],
            where: {
                test: "hhhhhh"
            }

        });
        table.on('row(nra)', function (obj){
            console.log(obj);
        });
    });

    $(document).ready(function (){
        /*
        $("#search").click(function (){
            alert(1);
        });*/
        $("#search").click(function (){
            
        });


    });




});







</script>
</body>
</html>