<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <title>上传资料</title>

    <link href="../../css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <!--<link href="../../css/bootstrap.modified.css" type="text/css"/>-->
    <link href="../../css/bootstrap.modified.css" rel="stylesheet" type="text/css"/>



    <script src="../../js/jquery-1.11.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/fileinput.js" type="text/javascript"></script>
    <!--简体中文-->
    <script src="../../js/locales/zh.js" type="text/javascript"></script>

    <script src="../../js/hanlinCommons.js"></script>
</head>
<body class="container">
<div class="col-lg-12">
    <br/>
    <br/>
</div>
<div class="col-lg-12">
    <input id="uploadfile" name="file" type="file" multiple/>
</div>
<div class="col-lg-12 layui-form">
    <div style="margin-top: 10px;margin-bottom: 10px;">
        <input type="checkbox" id="qualityCustomer" title="优质客户" lay-filter="form"/>
    </div>
    <textarea id="note" name="note" class="layui-textarea" placeholder="可添加文件备注"></textarea>
</div>
<div class="col-lg-12">
    <br/>
    <br/>
</div>


</body>

<script>//参考手册：https://blog.csdn.net/u012526194/article/details/69937741
var fileInput = $('#uploadfile').fileinput({
    language: 'zh',
    uploadUrl: 'c/nraUpload',
    //这里应该让高级用户来决定能上传那些文件
    allowedFileExtensions : ['rar', 'zip','txt','jpg','gz'],//文件后缀名限制
    //uploadExtraData:{"id": 1, "fileName":'123.mp3'},//额外数据
    showUpload:true, //是否显示上传按钮
    dropZoneEnabled: true,//拖拽区域是否要
    browseOnZoneClick:true,//点击区域是否弹出文件选择器
    textEncoding:'UTF-8',
    browseClass:"btn btn-primary", //按钮样式 
    showRemove :true, //显示移除按钮
    maxFileCount:5, //表示允许同时上传的最大文件个数
    maxFileSize:102400,
    enctype:"multipart/form-data",
    removeFromPreviewOnError:true,
    //showBrowse: false,
    fileActionSettings: {
        //不显示预览按钮
        showZoom:false
    },
    showCaption:true,
    showAjaxErrorDetails:false,//推测这个可能是造成错误页渲染的原因
    //uploadExtraData: {test: "not haha"}
});
/**
 * 这个函数是我自己在fileinput插件中写的上传前的回调
 * 点击上传按钮时需要将额外的数据添加到表单数据，
 * 而原生的方法好像没用了，所以只能这样了
 *
 * !!! 这个函数在后面定义就访问不到了，最好是写在ready之前
 *
 * @param formdata
 */
function preUpload(formdata){

    formdata.append("isQualityCustomer", $("#qualityCustomer").is(":checked"));
    formdata.append("note", $("#note").val());
}
$(document).ready(function(){
    //layui.use(['form'], function(){
    var form = layui.form;
    form.render();
    //});
    //异步上传返回结果处理
    $("#uploadfile").on("fileuploaded", function (event, data, previewId, index) {
        console.log(data);
        var response = data.response;
        if (response.flag){
            HanLin.success(response.message);
        } else {
            HanLin.error(response.message);
        }
    });
    /*通过设置uplaodExtraData好像没用，修改源码，在源码上传前的部分调用函数preUpload(this.formdata);
    //上传前
    $('#uploadfile').on('filepreupload', function(event, data, previewId, index) {
        var isQualityCustomer = $("#qualityCustomer").is(":checked");
        var note = $("#note").val();
        alert("pre");
        console.log($("#uploadfile").fileinput());
        $("#uploadfile").fileinput({

            uploadExtraData:{
                isQualityCustomer: isQualityCustomer,
                note: note,
                test: "haha"
            },

        });
        console.log(event);
        console.log(data);
        console.log(previewId);
        console.log(index);

    });*/
    $('#uploadfile').on('fileerror', function(event, data, msg) {
        HanLin.error("上传失败");
    });






});

</script>
</html>