<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <!-- 禁止用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="../js/html5.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="../img/czyh.png">

    <link rel="stylesheet" href="../layuiIM/css/layui.css"/>
    <link rel="stylesheet" href="../css/iziToast.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.modified.css"/>

    <script src="../js/jquery-1.11.0.min.js"></script>

    <script src="../js/deferredAjax.js"></script>
    <script src="../js/hanlinCommons.js"></script>
    <script src="../layuiIM/layui.js"></script>
    <script src="../js/iziToast.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<p>复制浏览器上面的地址，在别的地方也可打开，但需要重新登录，不会将当前登录账号挤下线</p>
<button id="button" class="btn btn-primary">button</button>
<script>
    var socket = HanLin.configSocket("localhost:8080/");
    socket.onopen = function (event){
        HanLin.success("消息服务连接成功");
        // console.log(event);
    };

    socket.onabort = function (event){
        console.log(event);
        alert("服务器中断了通信连接，刷新此页面以重新连接")
    };
    socket.onerror = function (event){
        console.log(event);
        alert("通信服务发生错误")
    };

    layui.use('layim', function (layim){
        layim.config({

            init: {
                url: 'message/init',
                type: 'post',
                data: {}
            }, //获取主面板列表信息，下文会做进一步介绍

            //获取群员接口（返回的数据格式见下文）
            members: {
                url: 'message/members', //接口地址（返回的数据格式见下文）
                type: 'post', //默认get，一般可不填
                data: {} //额外参数
            },

            //上传图片接口（返回的数据格式见下文），若不开启图片上传，剔除该项即可
            uploadImage: {
                url: 'message/uploadImage', //接口地址
                type: 'post' //默认post
            },

            //上传文件接口（返回的数据格式见下文），若不开启文件上传，剔除该项即可
            uploadFile: {
                url: 'message/uploadFile', //接口地址
                type: 'post' //默认post
            },
            //扩展工具栏，下文会做进一步介绍（如果无需扩展，剔除该项即可）
            tool: [{
                alias: 'code', //工具别名
                title: '代码', //工具名称
                icon: '&#xe64e;' //工具图标，参考图标文档
            }],

            //msgbox: layui.cache.dir + 'css/modules/layim/html/msgbox.html', //消息盒子页面地址，若不开启，剔除该项即可
            //find: layui.cache.dir + 'css/modules/layim/html/find.html', //发现页面地址，若不开启，剔除该项即可
            //chatLog: layui.cache.dir + 'css/modules/layim/html/chatlog.html' //聊天记录页面地址，若不开启，剔除该项即可
            chatLog: 'chatLog'
        });
        //监听自定义工具栏点击，以添加代码为例
        layim.on('tool(code)', function(insert, send, obj){ //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
            layer.prompt({
                title: '插入代码'
                ,formType: 2
                ,shade: 0
            }, function(text, index){
                layer.close(index);
                insert('[pre class=layui-code]' + text + '[/pre]'); //将内容插入到编辑器，主要由insert完成
                //send(); //自动发送
            });
            console.log(this); //获取当前工具的DOM对象
            console.log(obj); //获得当前会话窗口的DOM对象、基础信息
        });
        layim.on('sendMessage', function(res){
            console.log(res)


            var message = {
                username: res.mine.username,
                avatar: res.mine.avatar,
                id: res.mine.id,
                type: res.to.type,
                content: res.mine.content,
                mine: false,
                fromid: res.mine.id,
                recipientId: res.to.id
            };
            console.log(message);
            socket.send(JSON.stringify(message));

        });

        layim.on('chatChange', function(obj){
            console.log(obj);
            var data = obj.data;
            var uid = data.id;


        });
        layim.on('sign', function(value){
            console.log(value); //获得新的签名
            HanLin.requestTypical("message/changeUserSign", {sign:value}, function (data){
                data = JSON.parse(data);
                if (data.flag){
                    HanLin.success(data.message);
                } else {
                    HanLin.error(data.message);
                }
            }, "修改签名出错！")
            //此时，你就可以通过Ajax将新的签名同步到数据库中了。
        });
        //每次窗口打开或切换，即更新对方的状态
        /*layim.on('chatChange', function(res){
            var type = res.data.type;
            if(type === 'friend'){
                layim.setChatStatus('<span style="color:#FF5722;">在线</span>'); //模拟标注好友在线状态
            } else if(type === 'group'){
                //模拟系统消息
                layim.getMessage({
                    system: true //系统消息
                    ,id: 111111111
                    ,type: "group"
                    ,content: '贤心加入群聊'
                });
            }
        });*/
        socket.onmessage = function (event){

            var data = event.data;
            data = JSON.parse(data);
            layim.getMessage(data);


        };
        $("#button").click(function (){
            var json = {"avatar":"http://127.0.0.1:8080/img/userHeadPhotos/a1/0b511fd80855d946de9257890e1ec9dc.jpg","content":"离线消息","fromid":"a1","id":"a1","mine":false,"recipientId":"m1","timestamp":1551523278000,"type":"friend","username":"审核员(开发用账号)"};
            layim.getMessage(json);
        });
    });
    $(document).ready(function (){


    });

</script>
</body>
</html>