<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../css/bootstrap.modified.css" rel="stylesheet" type="text/css"/>
    <!--<link rel="stylesheet" href="../../layui/css/layui.css"/>-->


    <script src="../../js/jquery-1.11.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/hanlinCommons.js"></script>
    <!--<script src="../../layui/layui.all.js"></script>-->
    <script src="../../js/deferredAjax.js"></script>
</head>
<body>
<!--<div class="col-lg-4" style="background: #98ff44;height: 300px;">
    <div class="col-lg-12 " style="background: #000;height: 300px;">

    </div>
</div>
<div class="col-lg-4" style="background: #7cacf9;height: 300px;">

</div>
<div class="col-lg-4" style="background: #f9eb00;height: 300px;">

</div>-->
<div class="row">
    <div class="col-lg-4" style="background-color:red;">
        <div class="col-lg-12">
            <i class="fa fa-weixin" aria-hidden="true"></i><h3>新消息</h3>
        </div>
    </div>
    <div class="col-lg-4" style="background-color:gold;">
        <i class="fa fa-weixin" aria-hidden="true"></i><h3>新消息</h3>
    </div>
    <div class="col-lg-4">
        <i class="fa fa-weixin" aria-hidden="true"><h3>新消息</h3></i>
    </div>

</div>
<script>
    $(document).ready(function (){

    });
</script>
</body>
</html>