<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ebay申请台账</title>
    <link href="../../css/bootstrap.modified.css" rel="stylesheet" type="text/css"/>
    <!--<link rel="stylesheet" href="../../layui/css/layui.css"/>-->


    <script src="../../js/jquery-1.11.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/hanlinCommons.js"></script>
    <!--<script src="../../layui/layui.all.js"></script>-->
    <script src="../../js/deferredAjax.js"></script>
</head>
<body>
    <div class="col-lg-12"><br/></div>
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">经理姓名</span>
            <input name="userName" type="text" class="form-control" placeholder="经理姓名"/>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">手机号</span>
            <input name="phone" type="text" class="form-control" placeholder="手机号"/>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">邮箱</span>
            <input name="email" type="text" class="form-control" placeholder="邮箱"/>
        </div>
    </div>
    <div class="col-lg-2">
        <button id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div class="col-lg-12">
        <table id="ebayHistories" lay-filter=""></table>
    </div>
<script>
$(document).ready(function (){
    layui.table.render({
        elem: "#ebayHistories",
        title: "ebay申请历史",
        loading: true,
        page: true,
        autoSort: false,
        toolbar: "#tableTool",
        defaultToolbar: ["filter", "exports", "print"],
        data: [],
        cols: [[

            {field: 'userId', title: '工号', width: 140, align: 'center'},
            {field: 'userId', title: '操作', width: 100, align: 'center',
                templet: function (d){
                    if (d.userState == HanLin.userStatus.NORMAL){
                        return "<button class='blockAcc btn btn-danger' userName='"+d.userName+"' userId='"+d.userId+"' style='height: 25px;line-height: 10px;'>停用</button>";
                    }
                    if (d.userState == HanLin.userStatus.BLOCK_UP){
                        return "<button class='activateAcc btn btn-success' userName='"+d.userName+"' userId='"+d.userId+"' style='height: 25px;line-height: 10px;'>启用</button>";
                    }
                    if (d.userState == HanLin.userStatus.ROOT){
                        return "什么，你居然能看到我（这个格子里的字）？？不应该啊，麻烦去帮助中心反馈一下。。--经理账户管理表格（把这段话复制过去就行）"
                    }
                }
            },
            {field: 'userName', title: '姓名', width: 150},
            {field: 'email', title: '邮箱', width: 150},
            {field: 'userState', title: '账号状态', width: 100, align: 'center',
                templet: function (d){
                    console.log(d);
                    var html = "-";
                    if (d.userState == HanLin.userStatus.ROOT){
                        html = "<strong class='text-danger'>无权查看该账户</strong>";
                    } else if (d.userState == HanLin.userStatus.NORMAL){
                        html = "<strong class='text-info'>正常</strong>";
                    } else if (d.userState == HanLin.userStatus.BLOCK_UP){
                        html = "<strong class='text-danger'>停用</strong>";
                    }
                    return html;
                }
            },
            {field: 'phone', title: "手机", width: 150},
            {field: 'headPhoto', title:'头像', width:60, align: 'center',
                templet: function (d){
                    if (d.headPhoto == "default"){
                        return '<img class="cursor-pointer small-img preview" userName="'+d.userName+'" src="../../img/userHeadPhotos/user_default_head.jpg"/>';
                    } else {
                        return '<img class="cursor-pointer small-img preview" userName="'+d.userName+'" src="../../img/userHeadPhotos/'+d.userId+'/'+d.headPhoto+'"/>';
                    }

                }
            },
            {field: 'registerDate', title: '注册日期'}
        ]]
    });
});
</script>
</body>
</html>