<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>审核员</title>
    <!-- 禁止用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="../../js/html5.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="../../img/czyh.png">

    <link rel="stylesheet" href="../../css/bootstrap.modified.css"/>
    <!-- iziToast -->
    <link rel="stylesheet" href="../../css/iziToast.min.css"/>
    <link rel="stylesheet" href="../../layui/css/layui.css"/>

    <script src="../../js/jquery-1.11.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/iziToast.min.js"></script>
    <script src="../../js/deferredAjax.js"></script>
    <script src="../../js/hanlinCommons.js"></script>
    <script src="../../layui/layui.all.js"></script>
    <style>
        a, a:hover, a:active{
            text-decoration: none !important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: #9dc1d3;">审核员</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item loadPage"><a>消息中心</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img id="headPhoto" src="../../img/czyh.png" class="layui-nav-img">
                    <jsWrite id="userName"><img src="../../img/load.gif" class="layui-nav-img"/></jsWrite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="loadPage"><a>个人资料</a></dd>
                    <dd><a href="/logout" style="color: #ff0000;">安全退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">NRA业务</a>
                    <dl class="layui-nav-child">
                        <dd class="loadPage" whichPage="nraQueue"><a href="javascript:;">审核队列管理</a></dd>
                        <dd class="loadPage" whichPage="nraPriority"><a href="javascript:;">插队申请管理</a></dd>
                        <!--<dd><a>超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">境外账户申请审核</a>
                    <dl class="layui-nav-child">
                        <dd class="loadPage" whichPage="amazonUS"><a href="javascript:;">Amazon(US)</a></dd>
                        <dd class="loadPage" whichPage="amazonEU"><a href="javascript:;">Amazon(EU)</a></dd>
                        <dd class="loadPage" whichPage="ebay"><a href="javascript:;">ebay</a></dd>
                        <dd class="loadPage"><a href="javascript:;">申请查询</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="loadPage" whichPage="feedback" href="javascript:;">境外账户申请反馈接收</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">经理账户管理</a>
                    <dl class="layui-nav-child">
                        <dd class="loadPage" whichPage="addManager"><a href="javascript:;">添加经理</a></dd>
                        <dd class="loadPage" whichPage="managerAcc"><a href="javascript:;">管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">总台账信息</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">境外账户申请</a>
                            <dl class="layui-nav-child">
                                <dd class="loadPage" whichPage="ebayLedger"><a href="javascript:;">ebay申请</a></dd>
                                <dd class="loadPage"><a href="javascript:;">amazonUS申请</a></dd>
                                <dd class="loadPage"><a href="javascript:;">amazonEU申请</a></dd>
                            </dl>
                        </dd>
                        <dd>
                            <a href="javascript:;">Nra记录</a>
                            <dl class="layui-nav-child">
                                <dd class="loadPage"><a href="javascript:;">。。。</a></dd>
                                <dd class="loadPage"><a href="javascript:;">。。。</a></dd>
                                <dd class="loadPage"><a href="javascript:;">。。。</a></dd>
                            </dl>
                        </dd>
                        <li class="loadPage">
                            <a href="javascript:;">系统运行日志文件</a>
                        </li>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div id="contentArea" class="layui-body layui-flud">

    </div>


    <div class="layui-footer">
    </div>
</div>
<script>

    //JavaScript代码区域
    //layui.use(['element', 'layer', 'form'], function(){
    //var element = layui.element;
    //element.init();

    //});


    //当前用户的JSON数据
    var currentUser;
    $(document).ready(function(){
        iziToast.destroy();
        layui.element.init();

        //加载此页时检查subject是否拥有经理的角色，这样做是为了提高用户体验，并不是为了提高安全性（后台代码已经拦截）
        $.when(request("c/checkLogin", {})).done(function(data){
            if (data){
                HanLin.info("欢迎回来");
            } else {
                //这里会被后台过滤器拦截所以不会执行，但以防万一，在这里写一个
                alert("用户未登录，跳转至登录页");
                window.location.href = "/login";
            }
        });
        //获取用户信息，缓存到客户端内存中
        $.when(request("c/getAuditor", {})).done(function(data){
            data = JSON.parse(data);
            var user = data.result;
            currentUser = user;
            setTimeout(function (){
                $("#userName").html(currentUser.userName);
                var photoName = currentUser.headPhoto;
                if (photoName == "default") {
                    $("#headPhoto").attr("src", "../../img/userHeadPhotos/user_default_head.jpg");
                } else {
                    $("#headPhoto").attr("src", "../../img/userHeadPhotos/"+currentUser.userId+"/"+currentUser.headPhoto);
                }

            },300);
            renderUpload(user);
        });

        //绑定导航选项的点击事件
        $(".loadPage").click(function (e){
            $("#contentArea").html("");
            var index = layer.load(2, {time: 10*1000});
            setTimeout(function (){
                var whichPage = $(e.currentTarget).attr("whichPage");
                if (whichPage == "" || whichPage == null || whichPage == undefined){
                    //$("#contentArea").html("暂无此页面");
                    HanLin.error("该功能正在施工中");
                    layer.close(index);
                } else {
                    $("#contentArea").load(whichPage, function (){
                        layer.close(index);
                    });

                }
            },200);

        });

    });
    function renderUpload(user){
        layui.upload.render({
            elem: '#headPhoto',
            url: 'c/changeHeadPhoto',
            data: {
                userId: user.userId
            },
            accept: "images",
            acceptMine: 'image/*',
            auto: true,
            field: "headPhoto",
            done: function(data, index, upload){ //上传后的回调

                console.log(data);
                if (data.flag){
                    HanLin.success(data.message);
                    currentUser.headPhoto = data.message;
                    $("#headPhoto").attr("src", "../../img/userHeadPhotos/"+user.userId+"/"+data.result);
                } else {
                    HanLin.error(data.message);
                }
            }
        });
    }
</script>
</body>
</html>